@model Ecommerce.Models.MenuCategoriasViewModel 

<div class="navbar-nav d-flex">
    
    
    @foreach (var cat in Model.CategoriasVisiveis)
    {
        <a class="nav-link" asp-controller="Produto" asp-action="PorCategoria" asp-route-id="@cat.IdCategoria">@cat.NomeCategoria</a>
    }            
    
    @if (Model.CategoriasDropdown.Any())
    {
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Mais Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                @foreach (var cat in Model.CategoriasDropdown)
                {
                    <li>
                        <a class="dropdown-item" asp-controller="Produto" asp-action="PorCategoria" asp-route-id="@cat.IdCategoria">@cat.NomeCategoria</a>
                    </li>
                }
            </ul>
        </div>
    }
</div>