@model Ecommerce.Models.Produto
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    @*<body class="container">*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <br />
    <a asp-controller="Produto" asp-action="Index"
        class="btn btn-voltar-custom mb-3">
            ← Voltar
        </a>

        @*<div class="container mt-4">*@

        <h1 class="mb-4">Novo Produto</h1>
        
        <form action="/produto/create" method="POST">

            <label>Categoria:</label>
            <select name="CategoriaId" class="form-control">
                @foreach(var categoria in ViewBag.Categorias) { 
                    <option value="@categoria.IdCategoria">@categoria.NomeCategoria</option>
                }
            </select>
            <br/>
            
            <label>Nome do Produto:</label>
            <input name="NomeProduto" class="form-control"/>
            <br/>

            <label>Descrição:</label>
            <textarea name="Descricao" class="form-control"></textarea>
            <br/>

            <label asp-for="Preco"></label>
            <input asp-for="Preco" class="form-control" />
            <span asp-validation-for="Preco" class="text-danger"></span>
            <br/>

            <label asp-for="Estoque"></label>
            <input asp-for="Estoque" class="form-control"/>
            <span asp-validation-for="Estoque" class="text-danger"></span>
            <br/>

            <label>URL da Imagem:</label>
            <input name="ImagemUrl" class="form-control"/>
            <br/>            

            <label>Destaque:</label>
            <select name="Destaque" class="form-control">
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>
            <br/>

            <button class="btn btn-outline-success">Salvar</button>
        </form>
        @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>        
        $.validator.messages.pattern = "O formato do campo está inválido. Siga o padrão 9999,99.";
        
    </script>
    }
    @*</body>*@
</html>

